---
layout: default
title: Blog
---

{% include masthead.html %}

<div class="container">

  <h1>Últimas publicaciones</h1>

  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{site.baseurl}}/{{post.url}}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

</div>
