---
layout: default
---

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('img/background-1.jpg')">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('img/background-2.jpg')">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('img/background-3.jpg')">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('img/background-4.jpg')">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>


<!--Introduction-->
<section>
  <h1 class="text-center font-weight-light">
    Bienvenido a la página web del Grupo de Oleaje del CICESE
  </h1>
</section>
<!--Introduction-->


<!-- Page Content -->
<div class="container">

  <br>
  <div class="row">

    <div class="col portfolio-item">
      <div class="h-100">
        <a href="{{site.baseurl}}/about.html"><img class="card-img-top icon"
          src="img/icons/users.svg" alt="">
        </a>
        <h4 class="text-center font-weight-light">¿Quiénes somos?</h4>
      </div>
    </div>

    <div class="col portfolio-item">
      <div class="h-100">
        <a href="#"><img class="card-img-top icon"
          src="img/icons/settings.svg" alt="">
        </a>
        <h4 class="text-center font-weight-light">¿Qué hacemos?</h4>
      </div>
    </div>

    <div class="col portfolio-item">
      <div class="h-100">
        <a href="#"><img class="card-img-top icon"
          src="img/icons/book.svg" alt="">
        </a>
        <h4 class="text-center font-weight-light">Publicaciones</h4>
      </div>
    </div>

    <div class="col portfolio-item">
      <div class="h-100">
        <a href="#"><img class="card-img-top icon"
          src="img/icons/activity.svg" alt="">
        </a>
        <h4 class="text-center font-weight-light">Noticias y Blog</h4>
      </div>
    </div>

    <div class="col portfolio-item">
      <div class="h-100">
        <a href="#"><img class="card-img-top icon"
          src="img/icons/map-pin.svg" alt="">
        </a>
        <h4 class="text-center font-weight-light">Contáctenos</h4>
      </div>
    </div>
    
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
