<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="img/logo.png" height="50" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/index.html">Inicio</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/about.html">¿Quiénes somos?</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/projects.html">Proyectos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/publications.html">Publicaciones</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/blog.html">Blog</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/contact.html">Contacto</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
