<div class="col-lg-3 mb-4">
  <div class="card h-100 text-center">
    
    {% if person.webpage %}
    <a href="{{person.webpage}}">
    <img class="card-img-top" src="{{person.photo}}" alt="">
    </a>
    {% else %}
    <img class="card-img-top" src="{{person.photo}}" alt="">
    {% endif %}
    
    <div class="card-body">
      <h5 class="card-title">{{person.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{person.role}}</h6>
      <a href="mailto:{{person.email}}">{{person.email}}</a>
    </div>
    
    <!--<div class="card-footer">-->
      <!--<a href="mailto:{{person.email}}">{{person.email}}</a>-->
    <!--</div>-->
  
  </div>

</div>
