---
layout: default
---

<!-- Intro Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">
          {{page.title}}
        </h1>
        <p class="lead">
          {{page.author}}
        </p>
      </div>
    </div>
  </div>
</header>
<!--mastead-->

<div class="container">

  <div class="blog-body">
  {{ content }}
  </div>

</div>

